$brown: #804F2D;
$dark-brown:#643d22;
$blue:#abd7fd;
$baseFontSize:16px;
$contentWidth: 90vw;
$imgOpacity: 0.25;

$fontFamilySans:MiSans,
sans-serif;
$MiSansBold:MiSans-Bold,
sans-serif;
$HarmonySansMedium:HarmonyOS_Sans_SC_Medium,
sans-serif;
$HarmonySansBold:HarmonyOS_Sans_SC_Bold,
sans-serif;
$DINProBlack:DINPro-Black,
sans-serif;
$DINProBold:DINPro-Bold,
sans-serif;


$bannerHeight: 102px;
$pageLeftMargin:210px;
$ImgZoomCount:4;
$mobileUnitSpace:5vh;